[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
default-storage-engine=InnoDB
#bind-address = 127.0.0.1

# MySQLに接続するクライアントとの文字コード認証を省略
skip-character-set-client-handshake
# MySQLに接続するクライアントの名前解決を回避し、待ち時間を発生させない設定
skip-name-resolve

## MySQL5.6で追加された設定
# TIMESTAMPデフォルト値の指定
explicit_defaults_for_timestamp = 1
# パフォーマンススキーマを無効化
performance_schema = 0
table_definition_cache = 1024
# MySQLに接続するクライアントの名前解決キャッシュ量を減らし、メモリを少しでも開放する
host_cache_size = 2

##innoDB
innodb_file_per_table = 1
innodb_file_format = Barracuda
innodb_data_file_path = ibdata1:64M:autoextend
innodb_log_file_size = 16M
innodb_buffer_pool_size = 16M
innodb_autoextend_increment = 16
innodb_log_buffer_size = 4M
# ログ記録タイミングをクエリ毎から1回/秒に変更することでIO処理を減らし、DBの高速化を図る
innodb_flush_log_at_trx_commit = 2
skip_innodb_doublewrite
# IOPSを指定。HDD単体は200．RAID10なら400~。SSDなら2000以上可能。
innodb_io_capacity = 1000
# MySQL5.6から追加
# デフォルトはinnodb_io_capacity*2が適用されるため、不要にIOを圧迫しないようinnodb_io_capacityと同じ値を明示的に値を指定
innodb_io_capacity_max = 1000
# ロックモード指定。2=「インターリーブ」。これはもっとも高速で、もっとも拡張性の高いロックモード。シングル構成でWordPress用ならデメリットなし。
innodb_autoinc_lock_mode = 2

## MyISAM
# InnoDBならMyISAMへの割り当ては最低限で良い。
key_buffer_size = 512k

## Memory
# WordPressはTemporary tablesチューニングの効果が弱く多めに盛っても効果なし。
# よってデフォルトと同じ値を指定
tmp_table_size = 16M
# 基本的にtmp_table_sizeと同じ値を指定
max_heap_table_size = 16M

